// footballtest

	span#job_title {
		font-size: 2em;
    	display: block;
    	text-align: center;
    	height: 240px;
    	width: 226px;
    	background-image: url(/mediafiles/football_shirt.png);
    	background-repeat: no-repeat;
    	background-size: 180px 170px;
    	background-position: center;
	
	}

	span, p {
    	padding-top: 70px;
    	position: absolute;
		top: 880px;
		left: 925px;

}
.footballtest {

  

		

	h2#name{
		display: block;
		font-size: 1.8em
		position: relative;
		top: 10px;
		left: 360px;
	}
background-image: url(/mediafiles/pitch.png);
  background-repeat: no-repeat;
  background-size: 1920px 1080px;
  background-position: center;
}




.fade-enter-active, .fade-leave-active {
  transition: opacity .5s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}